
header{
    max-width :1700px;
    width:70% ;    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
main{background-color: rgba(0, 0, 0, 0.105);
    padding-top: 30px;
    }
   
.main{
    max-width :1700px;     
    margin:0 auto 0 auto ;
    width:70% ;
    
  
}
.main1{
    display: flex;
    flex-wrap: wrap;
      
}

#carousel-coverimage img{height:50vh;}

 .show{display: block;}
.fixed-top-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.fixed-top-header-left{
    display: flex;
    
}
.fixed-top-header input {
     
        /* max-width: 25vw;
        min-width:5vw ; */
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 25px;
        font-size: 16px;
        background-color: white;
        background-image: url(./img/tim-kiem.png);
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }

.fixed-top-header img {
    width:60px ;
    height: 60px;
}
.menu-header{
    width: 50%;
    display: flex;
}

.menu-header ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0px;
    margin-block-start:0px;
    padding-inline-start:0px;
}

.menu-header ul li{
    display: inline-block;    
      
  }
  .menu-header ul li button {
    
    font-size: 40px; ;   
    width: 9vw;
    background-color: rgba(0, 0, 0, 0);
    border:none 0px ;
  }
.fixed-top-header-icon-right ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    margin-bottom: 0px;
    margin-block-start:0px;
    padding-inline-start:0px;
}
.fixed-top-header-icon-right ul li{
    display: inline-block;        
  }
.menu{
    position:relative ;
}

 
  .menu button{
    display:none ;
    font-size: 40px; ;   
    width: 9vw;
    background-color: rgba(0, 0, 0, 0);
    border:none 0px ;
 }

 .menu  ul {
text-decoration: none;
position:fixed;
background-color: bisque;
width:100vw ;
 z-index:2 ;
 margin-left:0px ;

}
.menu  ul li {
    display: block;
    text-decoration:none ;
}

 .fixed-top-header-icon-right button{
    font-size: 40px; ;
    border:none ;
    border-radius:50% ;
    
 }
 .seach{
    font-size: 40px; ;
    border:none ;
    border-radius:50% ;
    margin-top:5px ;
    width: 60px;
    height:60px ;
 }




    

.avatar{
    border:3px solid ;
    border-color: #ffffff;
    border-radius:50% ;
    width:50px ;
    height:50px;
    
}
.avatar-main{
    border:5px solid ;
    border-radius:50% ;
    border-color: #ffffff;
    width:200px ;
    height:200px;
}
.information{      
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end ;
    justify-content: space-between;
}
.avatar-name{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:flex-end ;
}





.name{
    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
    }
.text-link{
    font-size:20px;
    text-decoration:none;
    color: rgba(0, 0, 0, 0.541);
    }


.list-avatar-friends{
    padding:0;
    margin-right: -10px;
    }
.nav-content{
   padding:5px 10px 10px 10px ;
   
   font-weight:3px ;
   border: none;
   background-color: rgb(255, 255, 255);
}
.nav-content:hover{background-color: aqua;}
.nav-content:focus{
    color: blue;
    border-bottom:8px solid ;
    border-color: blue;}
.width-dropdown-menu{width: 15em;}

.menu-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 20px 0 20px ;}

.content-left-link{font-weight: 400; color: rgb(23, 2, 2) ;font-size: 20px;}
.main-right{
    flex-direction: row;
    padding-left: 15;
    padding: 0 15px;
}
.main-left{
    flex-direction: row;
    padding: 0;
}
.introduce{
    display: flex;
    flex-direction: column;
    gap:20px ;
    background-color: #ffff;
    border-radius:20px  ;
    align-self:center;
    padding:30px 0 30px ;
}
.introduce button{
    width: 85%;
    align-self:center;
    border-radius:10px ;
    padding:10px 0 10px ;}
.main-container{
    background-color: #ffffff;
   
    border-radius:20px ;
    padding:20px ;
    margin-bottom: 20px;
}

.status{    
    display: flex;
    flex-direction:row;    
    gap: 15px;     
}

.add-status{    
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 30px;
 
    text-align: left;
}
.add-content{
    display: flex;
   }
.add-content button{
    width:33%;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    border-radius:15px ;
   
    font-weight:bold;    
}

.setting-content{
   display: flex;
   flex-direction: row;
   justify-content: space-between ;   
}
.setting-content button{
    border: none;
    border-radius:10px ;
   
    padding: 10px;  
    margin-left:10px ;  
    }
.setting-display{
    display:flex ;}
.setting-display button{
    width:33%;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    border-radius:5px ;
    }
.header-main-container{
    display: flex;
    gap:10px ;
       
 }
.header-main-container p{margin-bottom: 0;}
a{color: black;}
.setting-status{color: black;}
.setting-status button{
    border-radius: 50%;
    width:30px ;
    height:30px ;
    border: none;
    font-size: 20px;
    background-color: #ffffff;
}
.amount-like{
    display: flex;
    flex-direction: row ;
    margin:15px;
    justify-content:space-between;
}
.amount-like span{font-size:25px ;}
.interactive{
    display: flex;
    flex-direction: row;
}
.interactive button{
    border: none;
    border-radius:5px ;   
    width:33% ;
    background-color: #ffffff;
   
}
.interactive span{font-size:40px ;}
.comment{
    display: flex;
    flex-direction: row;    
}
.comment-new{
    display: flex;
    justify-content: space-around;
    border:none ;
    border: radius 15px; ;
    background-color: rgba(0, 0, 0, 0.053);
    margin-left: 10px;
    border-radius:20px ;
    width:100% ;
    
    }
.comment-new input{
    border:none;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.00);
}
.comment button{
    font-size: 25px;
    border:none ;
    padding:5px ;
    margin-right:0 ;
    }
.comment-old{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-top:10px ;

}
.comment-old-content{
    display: flex;
    flex-direction: column;    
    border-radius:15px;    
   
    }
.comment-child{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius:15px;
    background-color: rgba(0, 0, 0, 0.053);
 
     
}
.comment-old-content button{
    border: none;
    background-color:#ffffff ;
   font-weight: bold;
   font-size: 20px; ;
}
.comment-old-content button:hover{
    background-color: #ffffff;
    text-decoration: underline;}

button:hover{background-color: rgba(11, 6, 0, 0.197);}


/* style của list ảnh */
.image-old{
    object-fit: cover;
    width: 30%;
    margin:1% ;
    height: 150px;
  }
  .lits-img-old-header{
    padding:15px 20px 15px ;
    display: flex;
    justify-content: space-between;
  }
  .lits-img-old{
    background-color: #ffffff;
    margin-top:15px ;
    border-radius:15px ;
  }
  .lits-img-old button{border:none ;
    background-color:#ffffff ;}
  .group-image{ 
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius:15px ;
    
  }
  
/* style của list avatar */
 
.group-avatar{     
    display: flex;
    flex-direction: row-reverse;   
    }
.avatar{
  border:3px solid ;
    border-color: #ffffff;
   border-radius:50% ;
   width:50px ;
   height:50px;        
    }


.container-friends{
    background-color: #ffffff;
    border-radius:15px;
    display: flex;
    flex-direction: row;
    padding:20px ;
}
.container-friends-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}






/* danh sách bạn bè */

.container-friend{
    margin-top:20px ;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius:15px;
    padding: 20px;
   
  }
  .container-friends-header{
    width:100% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
   
  }
  .container-friends-header a{
    font-size: 30px;
    color: black;
    text-decoration: none;
  }
  .container-friends-header a:hover{text-decoration: underline;}
  .container-friends-header button{
    border:none ;
    border-radius:5px ;
   
    padding: 10px;
    background-color: #ffffff;
    color: rgb(42, 106, 165);
  }
  
  .avatar2{
    border-radius:10px ;
    object-fit: cover;
    height:150px;
    width: 100%;
  }
  
  .group-friends{   
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      border-radius:15px ;
   }
    .friend1{
      width: 30%;
      display: flex;
      flex-direction: column;
      display:row ;
      margin-bottom:30px ;
     }
    
     button:hover{background-color: rgba(0, 0, 0, 0.178);}

     .media-none{display:none ;}
.none{display:none ;}
     
     @media  (max-width: 820px){
        .avatar-name div{display: flex;
            justify-content: center; 
            align-items: center} 
        .center1{display: flex;
            justify-content: center;
            align-items: center}
        .avatar-name{
            justify-content: center;
        }
        .nav-content{padding: 5px 3px 5px 0px;}
        header,.main{width: 100%;}
        .media-show{display: none;}
        .media-none{display:block ;}
        /* .menu-header ul {display: none;} */
        .menu button{display: block;}
        .fixed-top-header form{display: none;}
    }
    .show{display: block;}

    a:focus{background-color: aqua;}











































