<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia bố cục trang cá nhân </title>
    <link rel="stylesheet" href="./style.css">
    
</head>
<body>
    <header class="flex">
        <div class="left">
            <a href="#"> <img id="logo" src="./img/logo-chu-T.png" alt="logo-chu-T" class="logo" ></a>
            <a href="#">Home</a>
            <a href="#">Messages</a>
            <a href="#">History</a>
        </div>
        <div class="right">
            <div>My Account</div>
            <input type="search" name="search" placeholder="Search">
        </div>
    </header>


    <main class="flex">
        <div class="main-left row">            
            <div class="flex row border main-left-content">
                <a href="#">Phạm Tín</a>
                <a href="#"><img src="./img/logo-chu-T.png" alt="avata" class="avatar"></a>
            </div>
            <div class="flex row border main-left-content">
                <a href="#">Sở thích</a>
                <div class="flex-wrap">
                    <span>Đá bóng</span>
                    <span>Đọc truyện</span>                                         
                    <span>Bơi</span> 
                    <span>Đạp xe</span>
                    <span>Nghe nhạc</span>                    
                    <span>Xem phim</span> 
                </div>
                
            </div>
            <div class="flex row border main-left-content" style="background-color:azure ;">
                <p>Mọi người hãy nhìn thông tin của mình qua đây nhá!!</p>
            </div>
            <div class="row flex" style="margin:20px ; font-size: 15px;">
                <a href="#">Thông tin cá nhân</a>
                <a href="#">Sản phẩm đăng lên</a>
                <a href="#">Hướng dãn đặt hàng</a>
            </div>
                                       

        </div>
        <div class="main-center row">
            <div class="border" style="padding-left:15px; text-align: left;">
                <h3>Xin chào các bạn !!</h3>
                <button type="button">Like</button>
            </div>
            <div class="container" style="gap:30px; margin-top:20px ; width: 100%;">
                <div class="border" style="width:40%">
                    <div class="flex row broder main-center-content" style="align-content: center;">
                        <a href="#">Phạm Tín</a>
                        <a href="#"><img src="./img/logo-chu-T.png" alt="avata" class="avatar"></a>
                    </div>                    
                </div>
                <div class="border">
                    <p> Không chỉ sở hữu khuôn mặt đẹp trai mà Jungkook còn có một body đẹp và tài ăn nói khéo léo. Chính vì vậy, nam thần tượng đã chiếm được nhiều cảm tình của khán giả.</p>
                </div>                                               
            </div> 
            <div class="container" style="gap:30px; margin-top:20px ; width: 100%;">
                <div class="border" style="width:40%">
                    <div class="flex row broder main-center-content" style="align-content: center;">
                        <a href="#">Phạm Tín</a>
                        <a href="#"><img src="./img/logo-chu-T.png" alt="avata" class="avatar"></a>
                    </div>                    
                </div>
                <div class="border">
                    <p> Không chỉ sở hữu khuôn mặt đẹp trai mà Jungkook còn có một body đẹp và tài ăn nói khéo léo. Chính vì vậy, nam thần tượng đã chiếm được nhiều cảm tình của khán giả.</p>
                </div>                                               
            </div>  <div class="container" style="gap:30px; margin-top:20px ; width: 100%;">
                <div class="border" style="width:40%">
                    <div class="flex row broder main-center-content" style="align-content: center;">
                        <a href="#">Phạm Tín</a>
                        <a href="#"><img src="./img/logo-chu-T.png" alt="avata" class="avatar"></a>
                    </div>                    
                </div>
                <div class="border">
                    <p> Không chỉ sở hữu khuôn mặt đẹp trai mà Jungkook còn có một body đẹp và tài ăn nói khéo léo. Chính vì vậy, nam thần tượng đã chiếm được nhiều cảm tình của khán giả.</p>
                </div>                                               
            </div> 
            <div class="container" style="gap:30px; margin-top:20px ; width: 100%;">
                <div class="border" style="width:40%">
                    <div class="flex row broder main-center-content" style="align-content: center;">
                        <a href="#">Phạm Tín</a>
                        <a href="#"><img src="./img/logo-chu-T.png" alt="avata" class="avatar"></a>
                    </div>                    
                </div>
                <div class="border">
                    <p> Không chỉ sở hữu khuôn mặt đẹp trai mà Jungkook còn có một body đẹp và tài ăn nói khéo léo. Chính vì vậy, nam thần tượng đã chiếm được nhiều cảm tình của khán giả.</p>
                </div>                                               
            </div> 
            <div class="container" style="gap:30px; margin-top:20px ; width: 100%;">
                <div class="border" style="width:40%">
                    <div class="flex row broder main-center-content" style="align-content: center;">
                        <a href="#">Phạm Tín</a>
                        <a href="#"><img src="./img/logo-chu-T.png" alt="avata" class="avatar"></a>
                    </div>                    
                </div>
                <div class="border">
                    <p> Không chỉ sở hữu khuôn mặt đẹp trai mà Jungkook còn có một body đẹp và tài ăn nói khéo léo. Chính vì vậy, nam thần tượng đã chiếm được nhiều cảm tình của khán giả.</p>
                </div>                                               
            </div>          
                                    
            
        </div>


        <div class="main-right">

            <div class="border" style="background-color:red;">
                <h2>Sự kiện mới:</h2>
                <img src="./img/may-anh-cho-nguoi-moi.jpg"  calt="may-anh-cho-nguoi-moi" class="img-content">
                <span style = " font-weight: bold;">Chụp ảnh</span>
                <p>Công viên Thống Nhất</p>
                <p>Hà Nội:29/06/2022</p>
            </div> 
           <button type="button">Thêm sự kiện</button>
           <button type="button">Thêm sự kiện</button>


        </div>
    </main>
    <footer>
        <p>Cám ơn các bạn!!!!!</p>
    </footer>
    
</body>
</html>