/* header */

header{
  position: fixed;
  width: 100%;
  z-index: 5;
  .topbar {
    text-align: center;
    font-weight: 600;
    background-color: #f9f86c;
    line-height: 25px;
    font-size: 13px;
  }
  .navbar {
    background-color: rgba(236, 243, 243, 0.747);
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin:0 auto ;
    .logo img {
      width: 100px;
      height: 40px;
      padding-top: 5px;
    }
    ul {
      margin: 10px 0 8px 0;
      display: flex;
      justify-content: space-between;  
      list-style-type: none;
      padding: 0;
    }
    ul li:hover {
      color: rgba(0, 0, 0, 0.137);
    }
    .nav-center{
      a {
        text-decoration: none;
        padding: 0 10px;
        color: black;
        font-weight: 500;
      }
      .hover:hover .dropdown-content {
        display: block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 5;
      }
    }
    .nav-right{
      display: flex;
    }
    .nav-right img {
      height: 30px;
    }
    .nav-right button {
      border: none;
      background-color: rgba(236, 243, 243, 0.747);
    }  
  }
}
 
  
  
 
  
  
  /* Menuhearder */
  .menu-header {
    height: 50vh;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    .title {
      color: rgba(2, 0, 0, 0.706);
      font-weight: 600;
    }
    a {
      text-decoration: none;
      color: black;
    }
    .menu-header-column {
      display: flex;
      height: 50vh;
      flex-direction: column;
      flex-wrap: wrap;
      width: auto;
      .menu-header-child {
        display: flex;
        flex-direction: column;

        .child-name {
          font-weight: 600;
          display: flex;
          flex-direction: column;
          .child-name-title {
            display: flex;
            .attention-hot {
              background-color: #e21c16;
              border-radius: 5px;
              padding: 0 10px;
            }
            .attention-sale {
              background-color: rgb(57, 199, 49);
              border-radius: 5px;
              padding: 10px;
            }
            .attention-new {
              background-color: aqua;
              border-radius: 5px;
              padding: 10px;
            }
          }
        }
        hr{
          width:'80%';
          color: black;

        }
      }
      .child-attention {
        border-radius: 5px;
        padding: 10px;
      }
    }
  }
  
  
  
.child-explain {
    font-size: 13px;
  }
  .child-product {
    font-weight: 600;
    color: rgba(97, 86, 86, 0.432);
  }
  .child-product:hover {
    color: rgb(0, 89, 255);
  }
  
  .menu-header-child ul {
    flex-direction: column;
    padding: 0;
    list-style-type: none;
  }




  .about-cool{     
    display: flex;
    justify-content: space-evenly;
      padding:20px 0 ;
      color: black;
  
  
    .about-cool-child{
      width: 300px;
      
      img{
          width: 300px;
          border-radius: 20px;
      }
      .title{
          font-weight: 600;
          margin: 10px 0;
      }
      span{
          font-size: 14px;
      }
    }
      
    
  }
  
  
  
  
  .blogs-container {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    gap           : 10px;
    font-size     : 14px;
  
  
    .single-blog {
        border       : 1px solid grey;
        border-radius: 3px;
        padding      : 10px;
        margin       : 0 10px;
        min-width    : 300px;
        max-width    : 420px;
        text-align   : left !important;
  
        .title {
            font-size  : 18px;
            font-weight: 600;
        }
  
        .content {
            padding: 10px 0;
        }
    }
  }
  
  .blog-detail {
    border       : 1px solid grey;
    padding      : 10px;
    border-radius: 3px;
    margin       : 10px;
    min-height   : 100px;
  
    .content {
        padding-top: 10px;
    }
  }
 
  
 

  .card-login{    
    .content-login{
      margin: 20px;
    }

  }
  .login-top{
    padding:20px 20px 0 20px ;
    .login-title{
      display: flex;
      justify-content: space-between;
      .title{
        color: blue;
      }
      .close-button{        
        background-color: rgb(245, 237, 237);
        
      }
      .close-button:hover{background-color: #ff0c04;}
    }
    .form{
      display: flex;
    }
  }
  .form-login{
    display: flex;
    flex-direction: column;
    padding:20px 20px 30px 20px ;
    gap:20px ;  
    align-items: center;
    
  }
  .login-input{
    border-radius: 10px;
    padding:7px ;
    font-size:18px ;
    width:100% ;
  }
  .button-login{
    font-size: 20px;
    width:40% ;
    border-radius:10px ;
  }

.form-in{
  margin: 20px 0;
}