

  /* product : sản phẩm*/
  .product {
    margin: 0 auto;
    width: 300px;
    border-radius: 20px;
    .product-img {
      position: relative;
      height: 400px;
      width: 300px;
      .hover2 {
        display: none;
      }
      .image {
        height: 400px;
        width: 300px;
        border-radius: 20px;
      }
      :hover .hover2 {
        display: block;
      }
      :hover .hover1 {
        display: none;
      }
      :hover .size {
        height: 18%;
      } 
      .price {
        position: absolute;
        bottom: 8px;
        right: 16px;
        color: rgb(15, 112, 238);
        font-weight: 650;
      }
      .attention {
        position: absolute;
        top: 8px;
        right: 16px;
        background-color: rgb(221, 230, 98);
        font-size: 10px;
        padding: 0 7px;
        border-radius: 7px;
      }
      .size ul {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 0;
        width: 100%;
        margin: 0;
        gap: 10px;
      }
      .size {
        position: absolute;
        bottom: 10px;
        left: 10px;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        .sizechild {
          padding: 0 10px;
          background-color: aqua;
          border-radius: 5px;
          :hover {
            background-color: #f9f9f9;
          }
          
        }
        span {
          padding: 0 10px;
          border-radius: 7px;
          border: none;
          background-color: rgb(252, 252, 252);
          color: black;
          font-weight: 450;
        }
      }
      .evaluate {
        position: absolute;
        top: 8px;
        left: 16px;
        display: inline-flex;
        i {
          font-size: 10px;
          color: rgb(18, 127, 216);
        }
        span {
          font-size: 13px;
          margin-top: -7px;
          margin-left: 10px;
          color: rgb(18, 127, 216);
        }
      }
    }

    .product-information {
      margin-top: 20px;
      button {
        border-radius: 10px;
      }
      .product-name {
        font-weight: 600;
        margin: 8px 0 0 0;
        font-size: 14px;
        a {
          text-decoration: none;
          color: black;
        }
      }
      .product-price {
        display: flex;
        font-size: 14px;
        font-weight: 500;
        gap: 10px;
        .price1 {
          text-decoration: line-through;
        }
        .sale {
          color: red;
        }
      }
    }
     ul {
      list-style-type: none;
      padding: 0;
    }
     ul li {
      display: inline-block;
    }
  }
  
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  .slide {
    position: relative;
  }
  .slide img {
    height: 80vh;
    width: 100%;
  }
  .policy {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 10;
    color: aqua;
    display: flex;
    justify-content: space-around;
    span {
      border: solid;
      border-radius: 10px;
      background: #f9f9f9;
      color: rgba(13, 17, 1, 0.766);
      padding: 10px 25px;
    }
  }
 
  
  .tab-product {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .collections {
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
  }
  .collection {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 22%;
  }
  .collection img:hover {
    scale: 1.2;
    transition: all 0.3s;
  }
  .collection img {
    height: 500px;
    width: 100%;
    transition: all 0.3s;
  }
  .collection-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 32px);
    transform: translate3d(-50%, -50%, 0);
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 16px;
    transition: all 0.3s;
  }
  .marquee {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #000;
    border-radius: 24px;
    color: #fff;
    font-size: 24px;
    height: 65px;
    width: 100%;
    margin-bottom: 8px;
  }
  .marquee a {
    text-decoration: none;
    background-color: #1877cf;
    color: black;
    width: 20%;
    height: 65px;
    border-radius: 24px;
    padding: 12px;
    text-align: center;
  }
  .marquee a:hover {
    color: #f9f9f9;
  }