main {
   align-items: flex-start;
 
}
.product-petails{
    .path{
    margin:15px 0     
    }
    .present{
       
        
        
        .image-gallery-content .image-gallery-slide .image-gallery-image{
            max-width: 100%;
        }

}}