<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia bố cục trang wed</title>
    <style>
        .center{
            display: flex;
            align-items: center;
            justify-content: center;
           
        }
    </style>
    <style>
        main div div{border:solid;height:100px ;}
        div{
            padding-top: auto;
            padding-bottom: auto;
        }
    </style>
</head>
<body style="text-align:center ;margin: 0 ; font-size:30px ;" >
    <header style="background-color:rgba(255, 0, 0, 0.222); height: 100px">
        <p>Xin chào!! </p>
    </header>
    <main style="display:flex ;align-content: center; ">
        <div  class="center" style ="width: 25%;background-color: blue; "> <p>bodyleft</p></div>
        <div style =" width: 50%; display:flex ; flex-direction: column;background-color: brown; "> 
            <div class="center">
                content-1
            </div>
            <div5 class="center">-,.;/

                content-2
            </div5>
        
            <div class="center">
                content-3
            </div>
            <div class="center">
                content-3
            </div>
        
        
        </div>
        
        <div class="center" style="width:25%;background-color: darkgreen;"> body-right</div>

    </main>
    <footer style="background-color: rgb(255, 0, 204); height: 100px;"> <div>footer</div></footer>
</body>
</html>