<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia bố cục trang wed</title>
    <style>
        main div div{border:solid;height:100px ;}
        div{
            padding-top: auto;
            padding-bottom: auto;
        }
    </style>
</head>
<body style="text-align:center ;margin: 0 ; font-size:30px ;" >
    <header style="background-color:rgba(255, 0, 0, 0.222); height: 100px">
        <p>Xin chào!! </p>
    </header>
    <main style="display:flex ;align-content: center; ">
        <div style ="width: 25%;background-color: blue;"> body-letf</div>
        <div style ="width: 50%;background-color: brown;"> 
            <div>
                content-1
            </div>
            <div>
                content-2
            </div>
        
            <div>
                content-3
            </div>
            <div>
                content-3
            </div>
        
        
        </div>
        
        <div style="width:25%;background-color: darkgreen;"> body-right</div>

    </main>
    <footer style="background-color: rgb(255, 0, 204); height: 100px;"> <div>footer</div></footer>
</body>
</html>