
header {
  
    text-align: center;
    font-size:25px ;
    color: black;
}
header > ul{
    list-style-type: none;
    background-color: aqua;   
}
header  ul li {
    width:150px ;
    display: inline-table;
    height: 50px; ;
    line-height:50px  ;
    position:relative ;
}
 li a{
    text-decoration: none; 
    color: black;   
}
button{
    text-decoration: none;
    font-size:25px ;
    
    background-color:rgba(0, 0, 255, 0) ;
    border:none ;
}

.sub-menu{
 display: none;
position:absolute ;
background-color: bisque;
width:150px ;
margin-left:100px ;
text-align: center;
padding-inline-start:0px ;
z-index:2 ;
}

#menu1:hover .sub-menu{
    display: block;    
    
}
   
header > ul :hover {
        background-color: rgb(255, 42, 0);
    }
header > ul li ul :hover {
 background-color: rgb(0, 255, 229);}
    


 .menu-dropdown{
    background-color: aqua;
    width:20% ;
    margin:0 auto 0 auto ;
    font-size:30px ;
 }
 .menu-dropdown > button {
    background-color: bisque;
    border:none ;
    border-radius:15px ;
    font-size: 30px; 
    
 }

/* Hiển thị menu, ta sẽ dùng javascript để thêm class này vào các nôi dung cần được hiển thị */
.show {display:block;}
.menu {
    display: none;
    margin: 15px auto 0 auto;
    background-color:black;
    color: azure;
   
    
}
@media only screen and (max-width: 820px) {
    .menu{
        display:block ;
        
    }
    header  ul {
        display: none;
    }
    header  ul li{
        width: 130px;
    }

}

.container {margin: 0px auto 0 auto ;
    width:810px ;
}
.container:hover {
    transform: scale(2);
}
.zoom{transform: scale(1.5);}